# Laravel defaults
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
!storage/app/public/
!storage/framework/
!storage/logs/
/.env
.phpunit.result.cache
.phpunit.cache

# IDE and tooling
/.vscode
/.idea
/.fleet
/.zed

# Others
/public/hot
/public/build
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
auth.json
.phpactor.json
.env.backup
.env.production
