<!-- banner.component.html -->
<div class="banner">
  <div class="container banner-content">
    <div class="banner-text">
      <p>{{ bannerData?.date}}</p>
      <h2>{{ bannerData?.message}}</h2>
    </div>
      <div class="banner-img d-none d-lg-block">
        <img src="assets/images/Banner/Backpack.png" class="floating backpack" alt="Backpack">
        <img src="assets/images/Banner/College Student.png" class="student" alt="Student">
        <img src="assets/images/Banner/Scholarcap scroll.png" class="floating scholarcap" alt="Scholar Cap">
      </div>
  </div>
</div>
