<div class="statistics-cards ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="card green">
                <div class="card-body">
                    <h3>الطلاب الحاضرين</h3>
                    <p class="stat-value"><i class="fa-solid fa-user-group ms-3"></i>{{ stats.presentStudents }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mb-3 mb-sm-0 mt-5">
                <div class="card">
                  <div class="card-body">
                    <h3>طلاب غائبون</h3>
                  <p class="stat-value"><i class="fa-solid fa-triangle-exclamation ms-3"></i>{{ stats.absentStudents }}</p>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>
  