@import "tailwindcss";
#root {
  height: 100%;
}

.layout-flex {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  margin-left: 50px;
  height: 100vh;
  margin-top: 60px;
  background-color: #f9fafb;
  transition: margin-left 0.3s ease;
}

.patient-profile-container {
  min-height: 100%;
  padding-bottom: 20px;
}



html, body {
  height: 100%;
}


@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding-top: 80px; 
  }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    margin-left: 220px;
  }
}

/* Desktop styles remain the same */
@media (min-width: 1025px) {
  .content {
    margin-left: 250px;
  }
}